@import "tailwindcss";
@theme inline {
  --font-monsieur: "Monsieur La Doulaise", cursive;
  --font-playfair:  "Playfair", serif;
  --font-poping:"Poppins", sans-serif;
  --font-diploy:"Playfair Display", serif;
  --font-cngel:"Cinzel", serif;
  --font-sref:"Cinzel", serif;
  --font-cursive: "Dancing Script", cursive;
  --font-cinzel: "Cinzel", serif;
}

.orbit{
  animation: orbit 20s linear infinite;
}
.orbit-delay-5{
  animation: orbit 20s linear infinite -5s;
}
.orbit-delay-10{
  animation: orbit 20s linear infinite -10s;
}
.orbit-delay-15{
  animation: orbit 20s linear infinite -15s;
}

@keyframes orbit{
0%{
  transform: rotate(0deg) translate(150px) rotate(0deg);
}
100%{
  transform: rotate(360deg) translate(150px) rotate(-360deg);
}
}